@import 'stylesheets/tyapplyapp';
@import 'stylesheets/bootstrap/bootstrap';

body {
  background: $tl-t-color;
  color: $tl-l-color;
}

.Root {
  padding: 150px 0;

  .control {
    input[type="checkbox"] {
      margin-right: 0.6rem;
    }

    .inner {
      border: solid $tl-l-color $border-width;
    }
  }
}
